apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: lab3v-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/MalvarezU/lab3v-gitops.git
    targetRevision: HEAD
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: lab3v
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
  ignoreDifferences:
    - group: apps
      kind: Deployment
      jsonPointers:
        - /spec/replicas
