apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: lab3v-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/tu-usuario/lab3v.git  # <-- CAMBIA ESTO
    targetRevision: HEAD
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: lab3v
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - PrunePropagationPolicy=foreground
    - PruneLast=true
  ignoreDifferences:
  - group: apps
    kind: Deployment
    jsonPointers:
    - /spec/replicas
  retry:
    limit: 5
    backoff:
      duration: 5s
      factor: 2
      maxDuration: 3m